.footer {
	padding : 0px, 50px;
	display: flex;
	align-items: center;
	justify-content : space-around;
	box-shadow:0px 10px 30px rgba(0,0,0,0.2);
	border-radius:10px;
	margin: 0px 0px ;	
	background-color:#fdff00;
	background-position: cover;
	margin-top: 100px;	
	}

.footer img{
	width: 150px ;
	border-radius:6px;
}

.footer h3{
	font-size: 28px;
}
